Source: radxa-udev
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,

Package: radxa-udev
Architecture: all
Section: admin
Priority: standard
Depends: ${misc:Depends},
Description: Radxa specific udev rules
 This package provides Radxa custom udev rules to enhance RadxaOS.
